/*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .services .service-item {
    position: relative;
    height: 100%;
    margin-bottom: 30px;
  }
  
  .services .service-item .icon {
    margin-right: 20px;
  }
  
  .services .service-item .icon i {
    color: var(--accent-color);
    font-size: 40px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .services .service-item:hover .icon i {
    color: var(--accent-color);
  }
  
  .services .service-item .title {
    color: var(--heading-color);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .services .service-item .description {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-bottom: 10px;
  }
  
  .services .service-item .readmore {
    display: flex;
    align-items: center;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    transition: 0.3s;
    font-weight: 700;
    font-size: 14px;
  }
  
  .services .service-item .readmore i {
    margin-left: 8px;
  }
  
  .services .service-item:hover .title,
  .services .service-item:hover .readmore,
  .services .service-item:hover .icon i {
    color: var(--accent-color);
  }